<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="degrees-box">
            <% if (locals.data) { %>
                <div class="city">
                <h2><%= local.data.name %></h2>
            </div>
            <% } else { %>

            <% } %>
            <div class="city">
                <h2>Sofia</h2>
            </div>
            <div class="date">
                <h2>18:58, Fri, 28 March</h2>
            </div>
            <div class="degrees">
                <h1>20°</h1>
            </div>
            <div class="feels-like">
                <h2>Feels like 18°</h2>
            </div>
        </div>
        <div class = "featured-info">
            <div class="search-bar">
                <form action="/weather" method="get" autocomplete="off">
                <div >
                    <input type="text" name="city" class="input-box" placeholder="Search...">
                </div>
                <div id="suggestions"></div>
            </form></div>
            <div class ="cities">
                <div class="city-box">
                    <h2>Sofia</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>Dubai</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>London</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>New York</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>Sidney</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>Tokyo</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>Paris</h2>
                    <h2>23°</h2>
                </div>
                <div class="city-box">
                    <h2>Berlin</h2>
                    <h2>23°</h2>
                </div>
            </div>
        </div>
        <div class = "hourly-forecast">
            <div>
                <h3>current</h3>
                <h2>20°</h2>
            </div>
            <div>
                <h3>+1h</h3>
                <h2>18°</h2>
            </div>
            <div>
                <h3>+2h</h3>
                <h2>17°</h2>
            </div>
            <div>
                <h3>+3h</h3>
                <h2>15°</h2>
            </div>
            <div>
                <h3>+4h</h3>
                <h2>14°</h2>
            </div>
            <div>
                <h3>+5h</h3>
                <h2>10°</h2>
            </div>
        </div>
        <div class="forecast">
            <div>
                 <h3>Wind</h3>
                <h4>23 km/h</h4>
            </div>
            <div>
                <h3>Humidity</h3>
                <h4>86%</h4>
            </div>
            <div>
                <h3>Pressure</h3>
                <h4>1004 mb</h4>
            </div>
            <div>
                <h3>Rain</h3>
                <h4>83 mm</h4>
            </div>
        </div>
    </div>
</body>
</html>