<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="degrees-box">
            <div class="city">
                <h2>Sredets</h2>
            </div>
            <div class="degrees">
                <h1>20°</h1>
            </div>
        </div>
        <div class = "featured-info">
            <div class="search-bar">Box</div>
            <div class ="cities">Sofia</div>
        </div>
        <div class="forecast">
            <div>Wind</div>
            <div>Humidity</div>
            <div>Pressure</div>
            <div>Rain</div>
        </div>
    </div>
</body>
</html>